@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

main{
    background-color: #000;
    margin-top: -80px;
    width: 90vw;
    margin: auto;
}
.banner{
    background-color: #000;
    background-image: url(imagens/banner.png);
    width: 90vw;
    height: 600px;
    margin: auto;
    border-bottom: 3px solid #31A8DD;
    margin-top: -8px;
    margin-bottom: -27px;
}

.banner-content .logo{
    margin-left: 38vw;
    width: 248px;
    height: 214px;
    padding-top: 50px;
    border-radius: 50%;
}

.banner-content h1{
    background-image:linear-gradient(#33A8DB 100%, #1472B7 100%);
    -webkit-background-clip: text;
    color: transparent;
    margin:auto;
    font-family: Raleway;
    font-weight: 900;
    font-size: 40px;
    width: 434px;
    height: 47px;
    line-height: 46.96px;
    padding-top: 50px;
}

.banner-content p{
    width: 520px;
    height: 46px;
    font-family: Raleway;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.48px;
    text-align: center;
    color: #fff;
    margin: auto;
    padding-top: 30px;
}

button{
    border: none;
}

.banner-content button{
    width: 274px;
    height: 30px;
    font-family: Raleway;
    font-weight: 900;
    font-size: 18px;
    padding: 12px 12px 29px;
    background-color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 42%;
    margin-top: 35px;
    color: #31A8DD;
    border:3px solid#31A8DD;
}

#course-content h2{
    width: 477px;
    height: 38px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 32px;
    line-height: 37.57px;
    letter-spacing: 19%;
    color: #33A8DB;
    margin-left: 37vw;
    padding-top: 135px;
}

#course-content p{
    color: #fff;
    width: 792px;
    height: 38px;
    text-align: center;
    font-family: Raleway;
    font-weight: 400;
    line-height: 18.78px;
    margin: auto;
    margin-bottom: 10px;
}

.modules-list div{
    width: 535px; 
    height: 51px;
    border: 1px solid #33A8DB;
    border-radius: 57px;
    padding: 33px 127px 0px;
    margin: 30px;
    background-color: #252525;
    box-shadow: -2px 6px 4px #000 inset;
    margin-left: 24.5vw;
}

.module span{
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.78px;
    color: #33A8DB;
    text-align: center;
}

.module{
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.78px;
    color: #fff;
    text-align: center;
    padding-top: 10px;
}